/* Write your CSS here! */
/* Elements */
body {
    background-color: white;
    font-family: 'Nunito',sans-serif;
    font-size: 15pt;
    font-weight: 400;
    color: #333;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
}


header {
      background-color: #ebcc08;
      height: auto;
      padding: 20px;
      margin: 0px;
}
main {
    width: 100%;
    padding: 30px 100px;
    box-sizing: border-box;
}

footer {
    color: white;
    background-color: #e3cc31;
    text-align: center;
    height: auto;
    padding: 20px;
    margin: 0px;
}

h1 {
    font-family: 'Dancing Script',cursive;
    font-size: 3.5rem;
   /* font-weight: 700; */
    margin: 0px 0px 10px;
}

h2 {
    font-size: 1.3rem;
    text-align: center;
  /*  font-weight: 700; */
    text-transform: uppercase;
}

h3 {
    font-family: 'Dancing Script',cursive;
    font-size: 2rem;
  /*  font-weight: 700; */
    color: #e3cc31 ;
    margin: 5px;

}

h4 {
    /*font-weight: 500; */
    font-style: italic;
    margin: 10px 0px 0px;
}

p {
    text-align: center;
    margin: 05rem 0px;
}

img {
    width: 250px;
    margin: 10px 0px;
}

hr {
    height: .4rem;
    background-color: #e3cc31;
    border: none;
    margin: 20px 0px 0px;

}

a {
    color: #c4ac14;
   /* font-weight: 600; */
    text-decoration: none;
}

a:hover {
    color: #e0d064 !important;
}

a:visited {
    color:#655905
}
/* Ids */


#page-title {
    color: white;
    text-align: center;
}

#tagline {
    color: white;
    text-align: center;
    margin: 0px;
}

#intro {
    font-style: italic;
    margin-bottom: 20px;
}

/* Classes */

.right {
    float: right;
    margin-left: 20px;
}
.bordered {

    border: 4px solid #f7d707;
    padding: 0px;
}